<h1>Courses</h1>

<% if @chapters.any? %>
  <ul>
    <% @chapters.each do |chapter| %>
      <li><%= link_to chapter.name, chapter_path(chapter) %> </li>
      <% end %>
  </ul>
<% else %>
  <h3>Coming Soon!</h3>
<% end %>
