<% content_for(:nav_courses) do %>
  <li><a href="/">Courses</a></li>
<% end %>

<h3><%= @chapter.name %></h3>

<% content_for(:nav_footer) do %>
  <p><%= link_to "Edit", edit_chapter_path(@chapter) %></p>
  <p><%= link_to "Delete", chapter_path(@chapter),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
<% end %>
